@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 32, 44;
  --background-rgb: 26, 32, 44;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 26, 32, 44;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to top, #4f507dbd, rgb(var(--background-rgb)));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
